body{
    background: linear-gradient(#44929e , #000000);
    font-family: Arial, Helvetica, sans-serif;

}
img{
    width:100%
}

.logo{
   margin: 0 auto
   30px
}
.logo{
    width: 25%;
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.menu{
    list-style-type: none;
    text-align: right;
}

header article{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    color: white;
    display: flex; justify-content: center;

}

.letrablanca{
    color: white;
}

.peliculasrecomendadas{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;

}
.peliculasrecomendadas h1{
    width: 100%
}
.peliculasrecomendadas article{
    width: 18%
}

.seriespopulares{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}
.seriespopulares h1{
    width: 100%;
}
.seriespopulares article{
    width: 18%;
}

.peliculasmasvistas{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.peliculasmasvistas h1{
    width: 100%;
}
.peliculasmasvistas article{
    width: 18%;
}
   
