body{
    background: linear-gradient(#44929e , #000000);
    font-family: 'Urbanist', sans-serif;

}
img{
    width:100%
}

.logo{
   margin: auto;
   width: 20%;
}

.titulo{
    text-align: center;
    font-size: 50px;
    color: white;
}
.menu{
    list-style-type: none;
    text-align: right;
    text-decoration: none;
    
}

header article{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    color: white;
    display: flex; justify-content: center;
    text-decoration: none;

}

.letrablanca{
    color: white;
    list-style-type: none;
}

.peliculasrecomendadas{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;

}
.peliculasrecomendadas h1{
    width: 100%
}
.peliculasrecomendadas article{
    width: 18%
}

.seriespopulares{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}
.seriespopulares h1{
    width: 100%;
}
.seriespopulares article{
    width: 18%;
}

.peliculasmasvistas{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.peliculasmasvistas h1{
    width: 100%;
}
.peliculasmasvistas article{
    width: 18%;
}
.Detalleslistar{
list-style-type: none;
}

.foto{
    width: 90%;
    height: auto;
}

.detailmovie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detailmovie h2{
    width: 100%
}

.detailmovie article{
    width: 18%;
}
 
.generos{
    display: flex; 
    flex-wrap: wrap;
}

section h2 {
    font-size: 28px;
}

.Detallesgeneros {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}
.generos section article a {
    width: 100%;
    font-size: 30%;
}

.fotosgenero{
    width: 100%;
}

.cajageneros{
    width: 18%;
    justify-content: space-between;
}